

#header{
	width:100%;
	height:130px;
	position:fixed;
	background-color:white;

	
}

ul{
	width:100%;
}

ul li{
	display:inline-block;
	list-style-type:none;
	padding:2%;
	padding-left:11%;
	font-size:14px;
	color:black;

}

* {
	font-family:'Roboto', sans-serif;
	
}

body{
	margin:0 auto;
	background-color:#F96853;
}

h3{
	color:#f96853;
}

h1{
	padding:10%;
}




#careersheader{
	padding-left:5%;
}

#careers1{
	padding-left:5%;
	margin:4%;
	display:none;
}

#careers2{
	padding-left:5%;
	margin:4%;
	display:none;
}

#jobs h4{
	margin:2%;
	padding-left:4%;
}

#why{

	margin-top:5%;
	line-height:70px;
	width:80%;
}

#why h3{
	font-size:32px;
}

#why p{
	font-size:24px;
}

#benefits{

	margin-top:5%;
	line-height:70px;
	width:80%;
}

#benefits h3{
	font-size:32px;
}

#benefits p{
	font-size:24px;
}